
# Django Backend
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
# db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Django Secret Keys and Credentials
.env
.env.local
.env.development
.env.test
.env.production

# Python Virtual Environment
venv/
env/
ENV/